.space-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/office.png");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.character {
  position: absolute;
  transition: all 0.2s ease-out;
  
  &.local-character {
    z-index: 2;
  }
  
  &.remote-character {
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .character {
    width: 24px;
    height: 24px;
  }
}
