<div
  class="space-container"
  [style.background-position]="
    '-' + viewportPosition().x + 'px -' + viewportPosition().y + 'px'
  "
>
  <div 
    class="character local-character" 
    [style.left.px]="char().x" 
    [style.top.px]="char().y"
  >
    <app-user-avatar
      [stream]="localStream | async"
      [muted]="true"
    ></app-user-avatar>
  </div>

  @for(stream of remoteStreams$ | async | keyvalue; track stream.key) {
    <div 
      class="character remote-character" 
      [style.left.px]="remotePositions().get(stream.key)?.x ?? 200" 
      [style.top.px]="remotePositions().get(stream.key)?.y ?? 200"
    >
      <app-user-avatar
        [stream]="stream.value"
        [muted]="true"
      ></app-user-avatar>
    </div>
  }
</div>