:host {
    height: 100%;
    background: rgb(53, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /*border: 2px solid black;*/
}

.map {
    image-rendering: pixelated;
    background-image: url("../../assets/office.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    /*border: 2px solid yellow;*/
    width: calc(var(--map-width)); 
    height: calc(var(--map-height)); 
}

.character {
    width: 16px;
    height: 16x;
    position: absolute;
    border-radius: 18%;
    overflow:hidden;
    background-color: red;
}

/* Medium screens (e.g., tablets) */
@media (min-width: 700px) {
    .map {
        width: 150vw;
        height: 150vh;
    }
    .character {
        width: 8vw;
        height: 8vw;
    }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1000px) {
    .map {
        width: 120vw;
        height: 120vh;
    }
    .character {
        width: 5vw;
        height: 5vw;
    }
}



