<div class="flex items-start p-6">
  <div class="w-1/2 text-left mt-20">
    <h1 class="text-7xl font-bold text-black leading-tight">
      Work <span class="text-blue-600">Remotely</span><br />
      Like You Are in <br />an<span class="text-blue-600"> Office</span>
    </h1>
    <p class="text-gray-800 text-2xl mt-6">
      Create your virtual office so that your remote work feels like an office.
      Your various work activities can be done collaboratively with colleagues.
    </p>
  </div>
  <div class="w-1/2 -mt-20">
    <img src="/work.png" alt="Work Remotely" class="w-[110%] h-[110%] object-cover" />
  </div>
</div>
