<div class="cont">
  <div class="container">
    <div id="card1" class="card">
        <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg" class="image-wrapper">
      <div class="options">
        <div class="button-container" role="group" aria-label="Action Buttons">
          <div class="scale-wrapper"></div>
        <button class="button -regular" aria-label="Start the process">Create a space</button>
        <button class="button -regular" aria-label="Start the process">Join with key</button>
        </div>
      </div>
    </div>
  </div>
</div>
