<div
  class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-gray-600 bg-opacity-50 backdrop-blur-sm p-3 rounded-full shadow-lg"
>
  <div class="flex space-x-3">
    <button
      class="w-12 h-12 rounded-full bg-gray-500 bg-opacity-90 flex items-center justify-center text-white hover:bg-gray-400"
      aria-label="Mute"
    >
      <ng-icon class="icon" name="heroMicrophone" />
    </button>
    <button
      class="w-12 h-12 rounded-full bg-gray-500 bg-opacity-90 flex items-center justify-center text-white hover:bg-gray-400"
      aria-label="Video"
    >
      <ng-icon class="icon" name="heroVideoCamera" />
    </button>

    <button
      class="w-12 h-12 rounded-full bg-gray-500 bg-opacity-90 flex items-center justify-center text-white hover:bg-gray-400"
      aria-label="Chat"
      (click)="toggleChat()"

    >
      <ng-icon class="icon" name="heroChatBubbleLeftRight" />
    </button>
    <button
      class="w-12 h-12 rounded-full bg-gray-500 bg-opacity-90 flex items-center justify-center text-white hover:bg-gray-400"
      aria-label="Leave Meeting" (click)="LeaveMeeting()"
    >
      <ng-icon class="icon" name="heroArrowRightStartOnRectangle" />
    </button>
  </div>


</div>
  <app-chat *ngIf="isChatOpen"></app-chat>

