<div class="cont"> 
  <main class="profile">
    <div class="profile-bg"></div>
    <section class="user-container">
      <aside class="profile-image">
        <app-user-profile [user]="user" (userUpdated)="onUserUpdated($event)"></app-user-profile>
      </aside>
      <section class="profile-info">
        <h1 class="first-name">Welcome back !</h1>
        <h1 class="second-name">{{ user.username }}</h1>
        <h2>YOUR SPACES</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam vero impedit necessitatibus perspiciatis sunt inventore optio in, cupiditate aperiam voluptatum commodi saepe, reprehenderit provident nisi esse illum, quaerat quae cum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eaque quaerat amet totam incidunt eos, voluptatem necessitatibus, in atque distinctio odio delectus laudantium veniam sunt veritatis repellat labore magni repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ad quibusdam necessitatibus quod reprehenderit est at tempora nam repellat ullam earum eum dolorum sit dolor! Fuga eligendi delectus quos dolor cumque aliquam modi, odio quia natus laudantium, quae et. Rem enim repudiandae maiores vero ut atque voluptas deserunt, temporibus reprehenderit fuga non aut amet sed libero molestiae. Consequuntur
        </p>
      </section>
    </section>
    <section class="statistics">
      <button class="icon arrow left"></button>
      <button class="icon arrow right"></button>
    </section>
    <button class="icon close"></button>
  </main>
</div>
