<div class="cont"> 
  <main class="profile">
    <div class="profile-bg"></div>
    <section class="user-container">
      <aside class="profile-image">
        <app-user-profile [user]="user" (userUpdated)="onUserUpdated($event)"></app-user-profile>
      </aside>
      <section class="profile-info">
        <h1 class="first-name">Welcome back</h1>
        <h1 class="second-name">{{ user.username }}</h1>
        <h2>YOUR SPACES</h2>
        <app-user-spaces></app-user-spaces>
      </section>
    </section>
    <section class="statistics">
      <button class="icon arrow left"></button>
      <button class="icon arrow right"></button>
    </section>
    <button class="icon close"></button>
  </main>
</div>